<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 mb-10">
        <div class="mt-10 mb-10 border-b">
            <h1 class="text-3xl text-center font-extrabold leading-none sm:text-4xl xl:text-4xl">
            Edit
            </h1>
        </div>
            <%= render "form" %>
        </div>
    </div>
</div>